language: python
python:
  - "2.6"

install:
  - apt-get install libgeos_c1 libgeos-dev
  - python bootstrap.py
  - bin/buildout -c devel-4.2.cfg

script: bin/test -s collective.geo

notifications:
  email:
    - giorgio@giorgioborelli.it
