language: python
python:
  - "2.6"

before_install:
  - sudo apt-get install libgeos-c1 libgeos-dev

install:
  - python bootstrap.py
  - bin/buildout -c travis.cfg

script: bin/test -s collective.geo

notifications:
  email:
    - giorgio@giorgioborelli.it
