[buildout]
parts =
    instance
    zopepy

# Change the number here to change the version of Plone being used
extends = http://dist.plone.org/release/4.1.3/versions.cfg
versions = versions

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.1.3/
    http://dist.plone.org/thirdparty


# Add additional eggs here
# debian: install libgeos-c1 and libgeos-dev before
eggs =
    BeautifulSoup
    collective.geo.contentlocations
    collective.geo.kml

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
environment-vars =
    zope_i18n_compile_mo_files true

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = Plone my.package
eggs =
    Plone
    ${buildout:eggs}


# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    collective.geo.kml
    collective.geo.contentlocations


[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

